#container {
	padding-bottom: 50px;
}

.navbar {
	text-align: center;
	padding: 10px;
}

#headerText{
	font-family: sans-serif;
	font-size: 2em;
	font: bold;
	padding-bottom: 10px;
}

button {
	position: relative;
	width: 7%;
	height: 70%;
	border-radius: 2px;
	margin: auto;
	display: block;
	text-align: center;
}

#box {
	position: relative;
	height: 960px;
	width: 960px;
	top: 25px;
	outline: 2px solid #000000;
	font-size: 0;
	margin: auto;
}

.grid {
	outline: 1px solid #000000;
	display: inline-block;
}